.label-checkbox {
  position: relative;
  padding-left: 20px;
  font-size: 1.2rem;
  margin-right: 10px;
}

.label-checkbox::after {
  position: absolute;
  content: "";
  left: 0px;
  width: 10px;
  height: 10px;
  border: 1px solid var(--primary);
  top: 50%;
  transform: translateY(-50%);
  border-radius: 2px;
}

.label-checkbox::before {
  position: absolute;
  content: "";
  left: 3px;
  width: 7px;
  height: 7px;
  background-color: var(--primary);
  top: 50%;
  transform: translateY(-50%);
  display: none;
}

.radio-gender:checked~.label-checkbox {
  color: var(--primary);
}

.radio-gender:checked~.label-checkbox::before {
  display: block;
}



.section-edit-info {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  margin-top: 70px;

}

.header__img {
  width: 58px;
  height: 58px;
}

.header {
  display: flex;
  align-items: center;
  color: var(--text-color-nav);
  margin-bottom: 30px;
}

.wrap-right {
  padding-left: 20px;
}

.title {
  font-size: 1.68rem;
}

.introduce {
  font-size: 1.4rem;
  margin-top: 10px;
}

.form-group {
  display: flex;
  padding: 20px;
  align-items: center;
  font-size: 1.4rem;
}

.form-edit {}

.form-item-left {
  min-width: 90px;
}

.form-item-right {
  flex-grow: 1;

}

.nickname {
  padding: 5px 10px;
  width: 70%;
  background-color: #444;
  border: 1px solid #444;
  color: var(--text-color-nav);
}

.form-edit-btn {
  background: #0285b5;
  border: 1px solid #0285b5;
  color: #fff;
  font-size: 13px;
  height: 30px;
  margin-left: 140px;
  padding: 0px 10px;
}

.form-edit-btn:hover {
  cursor: pointer;
}